djangorestframework          
Django                       
django-cors-headers         
cloudinary                   
celery                      
gunicorn
pillow 
requests  
python-dotenv 
djangorestframework-simplejwt
django-react